body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategrey;
    color: white;
    padding: 100px;
    padding-top: 30px;
}

main {
    max-width: 800px;
}

a {
    color: white;
}

li {
    list-style: none;
}

a:hover {
    color:cornflowerblue;
}
.logo {
    height: 40px;
}